/* SPDX-License-Identifier: GPL-3.0-or-later */

.udpptt-tx-label {
    background-color: #cc0000;
    color: #ffffff;
    border-radius: 999px;
    padding: 2px 10px;
    margin: 0 4px;
    font-weight: bold;
}

.udpptt-rx-label {
    background-color: #1c71d8;
    color: #ffffff;
    border-radius: 999px;
    padding: 2px 10px;
    margin: 0 4px;
    font-weight: bold;
}

.udpptt-idle-label {
    background-color: transparent;
    color: #ffffff;
    border-radius: 999px;
    padding: 2px 10px;
    margin: 0 4px;
    font-weight: bold;
}
